/***************** Fonts *****************/

@font-face {
    font-family: ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
}

/***************** Base *****************/

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, serif;
    color: black;
}

body {
    margin: 0;
    font-size: 16px;
    background-color: lightcyan;
}

a {
    text-decoration: none;
}

/******************* Header ********************/

header {
    text-align: center;
}

/********** Nav **********/

nav {
    text-align: center;
    background-color: lightblue;
}

nav a {
    font-size: 1.2em;
    color: rgb(34, 32, 28);
}

nav a:hover {
    color: darkblue;
}

.router-link-active {
    color: purple;
}

/******************* Main ********************/

main {
    text-align: center;
}

/*********** Home ***********/

.home-page {
    text-align: center;
}

.home-page img {
    width: 100%;
    height: auto;
}

/*********** About ***********/


/*********** Email ***********/

.mail-preview {
    background-color: bisque;
    margin: 10px;
    border-radius: 5px;
}

/*********** Keep ***********/

.add-new-note-section{
    width: 95vw;
    margin: 6px auto;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.add-new-note-section button{
    margin: 1px 1px;
}
.new-note-main{
    float: left;
    height: 100%;
    font-size: 1em;
    border: none;
    width: 100vw;
    margin: 4px 0;
}

.upload-note-file {
    display: none;
}

.custom-upload-note-file {
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
    background-color: rgb(101, 173, 255);
}

.custom-upload-note-file:hover {
    background-color: rgb(22, 46, 73);
    color: rgb(255, 247, 231);
}

.note-text-area{
    width: 80vw;
}

.note-list ul{
    padding-left: 0;
    margin: 0;
}
.note-list li{
    background-color: rgb(226, 170, 85);
    margin: .4em .1em .4em .1em;
}
.note-list li .body-note{
    background-color: rgb(255, 194, 103);
    padding: .2em;
    margin: .4em .2em .4em .2em;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform .3s;
}

.note-list li .body-note:hover {
    transform: scale(1.1);
}

.container-note-ed{
    padding: .2em;
    
}

.btn-note-ed{
    font-size: 20px;
    height: 24px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin:0;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}

.delete-note{
    color: red;
}

.marked-note{
    background-color: rgb(255, 230, 5);
}

/****************** Aside *******************/

/* .aside {} */

/******************* Footer ********************/

footer {
    text-align: center;
    padding: 4px;
    background-color: lightblue;
}


/************** Tablet and Desktop **************/

@media (min-width: 500px) {
    .new-note-main{
        width: 45vw;
    }
    .add-new-note-section{
        justify-content: space-between;
    }
}

@media (min-width: 1030px) {}


/**************** Helpers ****************/

/********** Flex **********/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.space-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-reverse {
    flex-direction: row-reverse;
}

/********** Lists **********/

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}